whiteboard{
  background-color:#ccc;
}
drawing-pane, render-pane{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;

}

drawing-pane{
  z-index: 10;
}

render-pane{
  z-index: 9;
}

.spin-icon{
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}